header {
    height: 650px;
}

nav > div:nth-child(1n) {
    height: 80%;
    width: 130px;
    background-image: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 5px;
}

nav > div:nth-child(1n) > img {
    display: none;
}

#hamburger-btn {
    display: none;
}

.mobile-nav {
    background-color: transparent;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: black;
    border-radius: 10px;
    position: static;
    width: 80%;
    height: 80%;
    margin-right: 10px;
}

.menu-list li {
    display: flex;
    color: white;
}

.menu-list > li > .material-symbols-outlined {
    font-size: 24px;
    padding-right: 3px;
    padding-left: 0;
}

.menu-list > li > span {
    font-size: 20px;
}

.titulo {
    height: 80px;
    flex-direction: column;
}

.titulo > h1 {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-bottom: 1px;
}

.titulo > div {
    margin: 3px auto;
    width: 500px;
    animation: expansãoBarra 1.5s ease;
}

@keyframes expansãoBarra {
    0% {
        width: 0;
    }
    100% {
        width: 500px;
    }
}

.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 10px; 
}

.arrow {
    display: none;
}